<div class="container">
    <div class="row">
       <div *ngIf="itemList.length > 0" class="col">
         <div class="mb-4">
             <h2> Requests </h2>
         </div>
       </div>
       <div *ngIf="itemList.length === 0" class="col">
         <div style="margin: 5px;" class="mb-4">
         <h2 class="centertxt"> Requests </h2>
         <h3 class="centertxt" style="margin: 5px;">Looks like nothing is here!</h3>
         </div>
       </div>
       <div class="col">
        <div style="margin: 5px;" class="mb-4">
          <h2 class="centertxt"> Users </h2>
          <h3 class="centertxt" style="margin: 5px;">Looks like nothing is here!</h3>
          </div>
       </div>
    </div>
</div>
